
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Indie+Flower&family=Marck+Script&display=swap');

    

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dancing Script', cursive;
}
nav { background-color: #F1D3B3;
    font-family: 'Marck Script', cursive;
    position: sticky;
    top:0;
}
 nav >a { color:#87805E;
text-decoration: none;
padding:  8px 12px;
display: inline-block;

} 
nav > a:hover{ background-color: #243763;

}

body {

    font-family: 'Indie Flower', cursive;
    text-align: ;

}
body {background-color:#F8ECD1;
   
}
.left{ 
text-align: left;
}

footer { background-color: #D0B8A8;
    font-family: 'Marck Script', cursive;
    padding: 8px 12px;
}
 footer >a { color:#65647C;
text-decoration: none;
padding:  8px 12px;
display: inline-block;
}
footer > a:hover{ background-color: #9c7d85;

}
.center{text-align:center

}
input, textarea {
    background-color:#DAB88B ;
border-radius: 8px;
color:#243763 ;
padding: 14px;
border: 10px ;

}
input:hover {
background-color:#8792ab;
}

#picture {
    position: relative;
}